.col 
{
  text-align: center;
  float:none;
  margin:  0 auto;
  background-color:#f1f1f1;
  width: 50%;
  padding: 20px 20px;
  border-radius: 30px;
  z-index: -1;
}
#half{
    float:none;
    margin:   auto;
    width: 30%;
    margin-top: 20px;
  }
  @media screen and (max-width: 905px) 
  {
    #half{
        width: 50%;
      }  
  }